.menu__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 16px;
  justify-content: flex-end;
  padding-right: 8px;
}

.menu__item_bun {
  width: 100%;
  margin: 0 0 0 auto;
  display: flex;
  justify-content: flex-end;
}

.menu__item {
  max-width: 605px;
  width: 100%;
}

.menu__card {
  flex: 0 0 50%;
  max-width: calc(50% - 24px);
  text-align: center;
  position: relative;
}

.menu__card img {
  margin: 0 auto;
}

.menu__list_2 {
  overflow-y: scroll;
  max-height: 464px;
  overflow-x: hidden;
  height: 45vh;
  margin-right: -24px;
}

.menu__categories {
  max-height: 676px;
  overflow-y: hidden;
  scrollbar-width: thin;
  margin-bottom: 32px;
}

.menu__category h3 {
  font-size: 24px;
  font-family: 'Iceland';
}

.menu__list_2::-webkit-scrollbar {
  width: 8px;
  background-color: #2F2F37;
}

.menu__list_2::-webkit-scrollbar-thumb {
  background-color: #8585AD;
  height: 492px;
}

.menu__price {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  margin: 8px 0;
}

.buttonBox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 40px;
}

.buttonBox__total {
  display: flex;
  column-gap: 8px;
}

.order_main {
  position: relative;
  width: 100%;
  margin: 0 33px 15px auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu__category {
  padding-right: 16px;
}

/* .order_main::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url(../../images/order-cursor.svg);
  background-repeat: no-repeat;
  background-size: contain;
  left: -32px;
  top: 50%;
  transform: translateY(-50%);
} */